{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url "index" %}">Titulní strana</a></li>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li><a href="{% url "admin:index" %}">Administrace</a></li>
                    {% endif %}
                    <li><a href="{% url "password_change" %}">Změna hesla</a></li>
                    <li><a href="{% url "logout" %}">Odhlášení</a></li>
                {% else %}
                    <li><a href="{% url "registration" %}">Registrace</a></li>
                    <li><a href="{% url "login" %}">Přihlášení</a></li>
                {% endif %}
            </ul>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
