{% extends "base.html" %}


{% block title %}PASTEBIN{% endblock %}

{% block content %}




        {% if user.is_authenticated %}
        <h2>Vaše pasty</h2  >
        <ul>
            {% for content in contents %}
                <li><a href="{% url "display_content" content.slug %}">{{ content }}</a> <a onclick = "return confirm('Opravdu chcete smazat?');"
                                                                                            align="right" href="{% url "remove_item" content.id %}">
                    <img src="https://cdn.pixabay.com/photo/2013/07/13/12/32/forbidden-159816_1280.png" width="15" height="15" /></a></li>
            {% endfor %}
        </ul>
        {% else %}
       


    {% endif %}
{% endblock %}

<script src="script.js"></script>



