body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    background-attachment: fixed; /* pozadí neroluje */
    border-radius: 3px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.6);
    display: block;
    height: auto;
    line-height: normal;
    padding: 0px 0px 10px;
    text-decoration: none;
    background-color: rgb(66, 73, 70); /* případná barva pozadí */
    color: white;
    top: 5px;
    width: auto;
}


.navbar {
    overflow: hidden; /* hide overflow */
    background-color: #212121; /* barva pozadi */
    width: 1000px;
  }
  
.navbar a {
    float: left; /* make sure that the links stay side-by-side */
    color: white; /* barva textu */
    padding: 12px 20px; /* velikost hlavicky */
    text-decoration: none; /* odstraneni podtrzeni*/
}

/* srovnani zalozek vedle sebe v hlavicce */
nav ul {
  margin: 0;
  padding: 0;

}

nav ul li {
  padding: 0 25px;
  margin: 0 px;
  font-size: 1em;
  line-height: 0em;
  list-style: none;
}

  /* tohle meni nakliknuti barvy na zalozku */
.navbar a:hover {
    background-color: #ddd; /* white background color */
    color: black; /* Bback text color */
}
  